@media screen and (max-width: 1000px) {
    .centered {
        width: 90%;
    }

    #slideshow {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    #menu li{
        display: block;
    }

    #menu {
        width: 100%;
        text-align: center;
    }

    #messageContact {
        min-height: 200px;
    }
}