body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #1b375b;
    
}

.centered {
    margin: auto;
    width: 50%;
}

#member{
    height: 40px;
    background-color: #2f2f2f;
    color: #ffffff;
    font-weight: bold;
    text-align: right;
    padding-right: 30px;
    
}

#member p {
    margin: 0;
    line-height: 2.5em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

#title {
    margin-top: 40px;
}

#title {
    font-family: 'Marck Script', cursive;
    font-size: 2.8em;
    color: #457187;
    text-align: center;
}



#menu {
    margin: auto;
    display:block;
    width: 600px;
}

#menu ul {
    -webkit-padding-start:0px;
}

#menu li{
    display: inline-block;
    
    list-style-type: none; 
}

#menu li:hover {
    background-color: #457187;
    color: #ffffff;
}

.menuItem li:hover {
    background-color: #457187;
    color: #ffffff;
}

#menu li a:hover {
    color: #ffffff;
}

#menu li a{
    display:inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #457187;
    text-transform: uppercase;
    font-weight: bold;
}



.separator {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70px;
}

#slideshow {
    min-width: 450px;
}

#slideContainer {
  position: relative;
}

#slideContainer:before {
  display: block;
  content: "";
  width: 30%;
  padding-top: 34%;
}

#slideContainer > .mySlides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}


.visible {
    visibility: visible !important;

}

#logo {
    position: absolute;
    margin:auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    height: 300px;
}

#contenu {
    margin-bottom: 50px;
}

footer {
    background-color: #edeef3;
    margin-top: 80px;
    padding-top: 30px;
    color: #457187;
    padding-bottom: 50px;
    text-align: center;
}

footer h2 {
    font-size: 1.2em;  
    font-weight: bold; 
    text-align: center;
}

footer p {
    margin: 0;
}

.colonneFooter {
    width: 35%;
}

.footerPartenaire {
    max-width: 150px;
}

#mentionsLegales {
    width: 75%;
    text-justify: justify;
    font-size: 0.9em;
}

.titrePage {
    text-align: center;
    color: #a60052;
    margin-bottom: 50px;
}

.titreParagraphe {
    text-align: center;
    color: #a60052;
    font-size: 1.8em;
}

p .description {
    font-size: 1.8em;
    text-justify: justify;
}

.pink {
    color: #a60052;
}

#listeAdherents {
    display:flex;
    flex-direction: vertical;
    justify-content: center;
    flex-wrap: wrap;
}

.adherent {
    border: 1px solid #ececec;
    width: 30%;
    padding: 30px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.adherent h2 {
    margin: 0;
    text-align: center;
}

.adherent p {
    text-align: center;
}

.adherent img {
    text-align: center;
}

#messageContact, #content, #sujetContact {
    width: 100%;
    border-radius: 5px;
}
#messageContact{
    min-height: 400px;
}

#content {
    min-height: 150px;
}

#sujetContact{
    height: 30px;
    border:1;
}

.submit {
    background-color: #5897b6;
    color: #ffffff;
    padding: 2px;
    font-weight: bold;
    border:0;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#forum table  {
    border-spacing: 7px;
    width: 100%
}

#forum td {
    padding: 10px;
}

#forum tr {
    background-color: #ececec;
    border: 5px solid white;
}

.colonneCategorie {
    width: 80%;
}

.colonneCategorie p{
    margin-left: 20px;
}

.colonneNbTopics, .colonneDernierTopic, .NbTopic, .TopicDate {
    text-align: center;
}

#forum h2 {
    margin: 10px;
    font-size: 1.5em;

}

#forum p {
    font-size: 1.2em;
}

#forum h2 a{
    text-decoration: none;
    color: #a60052;

}

#forum .Topic {
    width: 65%;
}

#forum h3 a{
    text-decoration: none;
    color: #153159;
    font-size: 0.9em;
}

#posts {
    width: 100%;
}
#posts table{
    width:100%;
}

#posts table tr {
    border: 20px solid #ffffff;
}

#posts table td {
    background-color: #dedede;
    border: 20px solid #ececec;

}



#posts table .messagePosted {
    width: 75%;
    padding:20px;
}

#ajoutPost {
    background-color: #ececec;
    padding: 30px;
    margin-top: 20px;
}

.postedBy {
    text-align: center;
    width: 25%;
}

#posts h2 {
    font-weight: bold;
    font-size: 1.2em;
}

.post h1, #ajoutPost h2 {
    margin: 0;
}

